

@font-face{
    font-family:'mitra';src:url('mitra.woff') format('woff');}
@font-face{
    font-family:'icon';src:url('icomoon.eot') format('eot'), url('icomoon.ttf') format('truetype'),url('icomoon.woff') format('woff');}
@font-face{
    font-family:'mitra-bold';src:url('WebMitra-Bold.woff') format('woff');}
@font-face{
    font-family:'sanserif';src:url('ArmanSerif-Regular.woff') format('woff');}

@font-face{font-family:icons;src:url(icomoon.eot);src:url(icomoon.eot) format("embedded-opentype"),url(icomoon.woff) format("woff"),url(icomoon.ttf) format("truetype"),url(icomoon.svg) format("svg");font-weight:400;font-style:normal}
@font-face{
    font-family:'salamat';src:url('salamat.woff') format('woff');}