@import '../fonts/font.css';

.main_nav,.p2_main,.page_3,#main_menu figure h2{font-family:'salamat';font-weight: normal; text-rendering: optimizelegibility;}
#main_menu span,#main_menu .sub_links,.p2_main .line_wrapper p.p2_paragraph,.team_wrapper,.p5_main .line_wrapper p.p5_paragraph,.ball_wapper,#main_menu blockquote,.text--center,.newsletter{font-family:'sanserif';font-weight: normal; text-rendering: optimizelegibility;}
.p5_main h2,.page_4 h2,.page_6 h2,.p7_main blockquote,.p7_slide .contact h3,.side_page .register_title h3,.side_page .register_body{font-family:'mitra-bold';font-weight: normal; text-rendering: optimizelegibility;}
.p7_slide .contact .form,.p7_slide .contact h5, .p7_slide .contact h6{font-family:'mitra';font-weight: normal; text-rendering: optimizelegibility;}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a,a:active,a:hover,a:visited{outline:0;text-decoration: none;color: inherit;}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 0px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
/*! http://URL | 2015-1 | Designed & Developed Abbas Monfared (c) | www.Monfa.red */html{font-size:10px}
body,html{position:fixed;width:100%;height:100%}
body{overflow:hidden;font-size:18px}
::-moz-selection{color:#fff;background:#311B92}
::selection{color:#fff;background:#311B92}
select::-ms-expand{display:none}
.main-wrapper{display:block;position:absolute;top:0;width:100%;height:100%;-webkit-touch-callout:none;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);transition:-webkit-transform 1s cubic-bezier(.75,0,.6,1) 0s;transition:transform 1s cubic-bezier(.75,0,.6,1) 0s}
.main-wrapper .section{position:absolute;width:100%;height:100%}
#main_bg{position:absolute;width:100%;height:100%;background-size:cover;background-repeat:no-repeat;background-position:28% 100%;left:0;top:0;background-image:url(../images/main_bg.png);-webkit-transform:translate3d(0,-32%,0);transform:translate3d(0,-32%,0);transition:-webkit-transform cubic-bezier(.75,0,.6,1) 1s;transition:transform cubic-bezier(.75,0,.6,1) 1s;will-change:transition}
.viewing_1 #main_bg{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.viewing_left #main_bg{-webkit-transform:translate3d(49%,0,0);transform:translate3d(49%,0,0)}
#main_menu{position:fixed;direction: rtl; display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:5.8rem;bottom:3px;left:0;width:100%;z-index:10;transition:height 1s;transition-delay:0s;will-change:height}
#main_menu:hover{transition:height 1s,background-color .2s ease,border .8s,box-shadow .8s}
#main_menu::before{content:"";position:fixed;width:100%;height:9vh;bottom:0;left:0;background-size:100% 100%;z-index:-2;opacity:.9;transition:opacity .5s,height .5s}
#main_menu::after{content:"";position:fixed;width:100%;height:3px;background-color:#311B92;left:0;bottom:0}
#main_menu figure{position:absolute;float:right;bottom:0;left:0;right:0;width:432px;height:128px;max-height:12.5vh;cursor:pointer;background-image:url(../images/Resana-logo.svg);background-size:contain;background-repeat:no-repeat;background-position:center;-webkit-transform:translate(0%, 74%) scale(0.63);-ms-transform:translate(0%, 74%) scale(.63);transform:translate(0%, 74%) scale(.63);transition:-webkit-transform 1s ease;transition:transform 1s ease;will-change:transition}
#main_menu figure img{height:100%;vertical-align:middle}
#main_menu span{position: absolute;top: 100%;bottom: 0px;right: 0%;}
#main_menu li {list-style: none;float: right;}
#main_menu .sub_links{text-decoration: none;border-style: none;background: rgb(49, 27, 146) none repeat scroll 0% 0%;padding: 10px 20px;border-radius: 3px;color: rgb(255, 255, 255);margin-left: 15px;top: 90px;position: relative;right: 1%;}
.all_sub{float: right;position: absolute;top: -30px}
#main_menu .button-main{right: 5%;top: 2%;position: absolute;width: 40%;}
#main_menu blockquote{position:absolute;left: 4.1vw;bottom: 36%;font-size:1.25rem;line-height:160%;color:rgba(29,39,58,.6);opacity:0;transition:opacity .3s;will-change:opacity;text-decoration: none;}
#main_menu blockquote .permit strong{color:rgba(29,39,58,.9);}
#main_menu blockquote .quoter{text-align:right;font-size:1rem;padding:0 .4rem}
#main_menu blockquote .quoter a{color:rgba(29,39,58,.65);text-decoration:none}
#main_menu ul{display:-webkit-flex;display:-ms-flexbox;display:flex;padding:0;margin:0;width:43.5%;font-family: "mitra-bold";font-size: 18px;list-style:none;-webkit-transform:translate3d(-8%, -21px, 0px);transform:translate3d(-8%, -21px, 0px);transition:-webkit-transform 1s ease;transition:transform 1s ease}
#main_menu ul li{margin:0;padding:0;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;overflow:hidden}
#main_menu ul li .sign_up{cursor:pointer}
#main_menu ul li a{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;position:relative;height:6rem;font-size:1.6rem;text-decoration:none;font-style:normal;-webkit-transform:skew(0deg,0deg);-ms-transform:skew(0deg,0deg);transform:skew(0deg,0deg);color:#311b92;transition:font .8s,color .8s}
#main_menu ul li a::after,#main_menu ul li a::before{content:"";position:absolute;right:0;top:0;bottom:0;margin:auto;height:100%;width:100%;background-color:rgba(49,27,146,0);z-index:-1;transition:left .7s,background-color .7s,height .4s,top .2s,width .4s,border-radius .6s}
#main_menu ul li a::before{left:100%}
#main_menu ul li a::after{left:-200%}
#main_menu ul li a:active,#main_menu ul li a:visited{background-color:rgba(49, 27, 146, 0.5);}
#main_menu ul li a.on::after{left:0;background-color:rgba(49, 27, 146, 0.5);}
#main_menu ul li a:hover::after,#main_menu ul li a:hover::before{left:0;background-color:rgba(49, 27, 146, 0.5);}
#main_menu ul .nav_li_side{position:absolute;width:7.5vw;left:-7.5vw;transition:left 1s}

.viewing_1 #main_menu{height:35.2rem;max-height:50vh;background-color:rgba(255,255,255,0);border-top:1px solid rgba(255,255,255,0);box-shadow:0 0 2rem transparent;transition:height 1s cubic-bezier(.75,0,.7,1),background-color .6s ease;transition-delay:.12s}
.viewing_1 #main_menu .menu_icon{display:none}
.viewing_1 #main_menu figure{ -webkit-transform:translate(0%,0%) scale(1);-ms-transform:translate(0%,0%) scale(1);transform:translate(0%,0%) scale(1);transition-timing-function:cubic-bezier(.75,0,.7,1)}
.viewing_2 #main_menu figure,.viewing_3 #main_menu figure,.viewing_4 #main_menu figure,.viewing_5 #main_menu figure,.viewing_6 #main_menu figure,.viewing_7 #main_menu figure{background-image:url(../images/Resana-logo-2.svg);-webkit-transform:translate(7%, 77%) scale(0.63);-ms-transform:translate(7%, 77%) scale(.63);transform:translate(7%, 77%) scale(.63);}
.viewing_2 #main_menu span ,.viewing_2 #main_menu .sub_links,.viewing_3 #main_menu .sub_links,.viewing_4 #main_menu .sub_links,.viewing_5 #main_menu .sub_links,.viewing_6 #main_menu .sub_links,.viewing_7 #main_menu .sub_links{display: none;}
.viewing_2 #main_menu span,.viewing_3 #main_menu span,.viewing_4 #main_menu span,.viewing_5 #main_menu span,.viewing_6 #main_menu span,.viewing_7 #main_menu span{display: none;}
.viewing_1 #main_menu blockquote{opacity:1;transition:opacity .8s 1s}
.viewing_1 #main_menu ul{color:#000;-webkit-transform:translate3d(46.7%,0,0);transform:translate3d(46.7%,0,0);transition-timing-function:cubic-bezier(.75,0,.7,1)}
.viewing_1 #main_menu ul li a::after,.viewing_1 #main_menu ul li a::before{width:76%;height:2px;transition:left .7s,background-color .7s,height .8s .35s,top .8s .35s,width .7s,border-radius .9s}
.viewing_1 #main_menu ul li a::before{top:-40%}
.viewing_1 #main_menu ul li a::after{top:40%}
.viewing_1 #main_menu ul li a:hover{-webkit-transform:skew(0deg,0deg);-ms-transform:skew(0deg,0deg);transform:skew(0deg,0deg)}
.viewing_1 #main_menu ul li a:hover::after,.viewing_1 #main_menu ul li a:hover::before{left:0;background-color:rgba(0,65,116,.4)}
.viewing_1 #main_menu ul li:active,.viewing_1 #main_menu ul li:visited{color:#000}
.viewing_1 #main_menu .nav_li_side{left:-35.2vw;transition:left 1s cubic-bezier(.75,0,.7,1)}
.viewing_1 #main_menu .nav_li_side a{color:#fff;}
.viewing_1 #main_menu .nav_li_side a::after,.viewing_1 #main_menu .nav_li_side a::before{height:42%;width:100%;background-color:#27ae60;top:0;left:0;bottom:0;border-radius:0.1rem}
.viewing_1 #main_menu .nav_li_side a:hover::after,.viewing_1 #main_menu .nav_li_side a:hover::before{background-color:#2ecc71}
.viewing_1 .main_nav {display: none !important;}
.pages{overflow:hidden;background-color:#fefefe;background-repeat:no-repeat;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);will-change:background-position;transition-property:background-position;transition-timing-function:cubic-bezier(0,0,.3,1);transition-delay:1s;transition-duration:.7s}
.page_1{background-color:transparent}
.page_2{background-image:url(../images/page_1.png);background-size:cover;background-position:50% 50%;transition-delay:.9s}
.viewing_1 .page_2{background-position:50% 10%}
.viewing_3 .page_2,.viewing_4 .page_2,.viewing_5 .page_2,.viewing_6 .page_2,.viewing_7 .page_2{background-position:50% 80%}
.page_3{background-image:url(../images/page_2.png);background-size:cover;background-position:50% 0}
.viewing_3 .page_3{background-position:50% 50%;transition-delay:.9s}
.viewing_4 .page_3,.viewing_5 .page_3,.viewing_6 .page_3,.viewing_7 .page_3{background-position:50% 100%}
.page_4{background-image:url(../images/page_3.png);background-size:cover;background-position:50% 20%}
.page_4 h2{position: absolute;right: 50%;top: 35%;width: 70%;margin-right: -300px;font-size: 48px;direction: rtl;color:#311B92;}
.viewing_4 .page_4{background-position:50% 50%;transition-delay:.9s}
.viewing_5 .page_4,.viewing_6 .page_4,.viewing_7 .page_4{background-position:50% 80%}
.page_5{background-image:url(../images/page_4.png);background-size:cover;background-position:50% 10%}
.viewing_5 .page_5{background-position:50% 50%;transition-delay:.9s}
.viewing_6 .page_5,.viewing_7 .page_5{background-position:50% 90%}
.page_6{background-image:url(../images/page_3.png);background-size:cover;background-position:50% 5%}
.page_6 h2{position: absolute;left: 50%;top: 35%;width: 70%;margin-left: -300px;font-size: 48px;color:#311B92;}
.viewing_6 .page_6{background-position:50% 40%;transition-delay:.9s}
.viewing_7 .page_6{background-position:50% 80%}
.page_7{background-image:url(../images/contact_1.png);background-size:cover;background-position:50% 10%}
.viewing_7 .page_7{background-position:50% 36%;transition-delay:.9s}
.p2_main{position:absolute;margin:auto;top:0;bottom:0;right:0;left:0;direction: rtl; transition:-webkit-transform 1s .5s;transition:transform 1s .5s}
.p2_main h2{position:absolute;margin:auto 0 auto -12rem;right:0;bottom:2%;top:0;right:50%;width:24rem;height:4rem;white-space:nowrap;font-size:3.4rem;transition-property:right,margin-right,bottom;transition-duration:.8s,.8s,.7s;transition-delay:1s,1s,1s}
.p2_main h2 img {width: 432px;height: 128px;max-height: 11.5vh;top: -50px;position: absolute;}
.p2_main .line_wrapper{position:absolute;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:29%;left:0;right:0;bottom:0;top:0;margin:auto 0;opacity:0;background-color:rgba(255,255,255,.5);transition:opacity 1.2s ease-in-out .8s}
.p2_main .line_wrapper p.p2_paragraph{position:relative;width:70%;margin:auto 15% auto auto;text-align:right;font-size:1.8rem;line-height:2.5rem;line-height:3.2vh;color:#311b92;opacity:1;-webkit-transform:translateX(40%);-ms-transform:translateX(40%);transform:translateX(40%);transition:-webkit-transform .8s 1s,margin-left .3s .12s,opacity .5s linear .12s;transition:transform .8s 1s,margin-left .3s .12s,opacity .5s linear .12s;line-height: 43.5px;}
.p2_main .line_wrapper p.p2_paragraph span{}
.p2_main .chip{position:absolute;width:13vw;height:5.6vh;margin:auto;left:50%;margin-left:-283px;top:67%;background-color:#311B92;border-radius:.1rem;color:#fff;cursor:pointer;overflow:hidden;opacity:0;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);transition-property:box-shadow,background,top,-webkit-transform,width,height,right,opacity,margin-right;transition-property:box-shadow,background,top,transform,width,height,right,opacity,margin-right;transition-duration:.4s,.4s,.4s,.4s,.4s,.4s,.4s,.7s,.6s;transition-delay:0s,0s,0s,0s,0s,0s,0s,1.3s,1.25s}
.p2_main .chip:hover{box-shadow:0 1rem 1.2rem rgba(0,0,0,.35);-webkit-transform:scale(1.03);-ms-transform:scale(1.03);transform:scale(1.03)}
.p2_main .chip .name{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;position:absolute;margin:auto;width:100%;top:0;bottom:0;left:0;text-align:center;font-size:1.7rem;white-space:nowrap;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:10;transition:all .4s}
.p2_main .chip .pg2_close_icon{position:absolute;top:7%;left:15%;margin:0;width:8vh;height:7.6vh;opacity:0;cursor:pointer;z-index:9;background-color:red;background-color:rgba(0,0,0,.1);transition:opacity .3s ease}
.p2_main .chip .pg2_close_icon::after,.p2_main .chip .pg2_close_icon::before{content:"";position:absolute;width:100%;height:1px;background-color:#fff;top:50%;-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center;right:0;margin-left:-6.5vh;transition:-webkit-transform .35s ease;transition:transform .35s ease}
.p2_main .chip .pg2_close_icon::before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.p2_main .chip .pg2_close_icon::after,.p2_main .chip .pg2_close_icon:hover::before{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.p2_main .chip .pg2_close_icon:hover::after{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.p2_main .chip .content{opacity:0;margin:11vh 15% 0 auto;width:67vw;max-width:150vh;color:rgba(255,255,255,.7);transition:opacity .12s linear}
.p2_main .chip .content p{font-size:1.5rem;line-height:3.5vh;text-align:right}
.p2_main .chip.bot{top:67%;margin-left: 0px;}
.p2_main .chip.selected{width:100vw;top:35.5%;height:29vh;right:0;margin-right:0;background-color:#103450;border-radius:.1rem;z-index:2}
.p2_main .chip.selected:hover{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);box-shadow:none}
.p2_main .chip.selected .name{text-align:right;height:3.2rem;top:5%;bottom:60%;right:15%;font-size:2.9rem;}
.p2_main .chip.selected .pg2_close_icon{opacity:1;transition:opacity .7s .2s}
.p2_main .chip.selected .content{opacity:1;transition:opacity .8s .25s}
.viewing_2.fixed .p2_main h2{bottom:43%;right:15%;margin-left:0;transition-delay:1s,1s,.3s}
.viewing_2.fixed .p2_main .line_wrapper{opacity:1}
.viewing_2.fixed .p2_main .line_wrapper p.p2_paragraph{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
.viewing_2.fixed .p2_main .line_wrapper p.p2_paragraph.shifted{margin-left:-25%;opacity:0;transition:-webkit-transform .8s 1s,margin-left .3s,opacity .15s linear;transition:transform .8s 1s,margin-left .3s,opacity .15s linear}
.viewing_2.fixed .p2_main .chip{margin-right:.01vw;opacity:1}
h2.p3_title{position:absolute;margin:auto;top:0;bottom:2%;width:100%;height:4rem;color:#311B92;font-size:3.6rem;text-align:center;opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);transition:opacity 0s 1s,-webkit-transform 0s 1s;transition:opacity 0s 1s,transform 0s 1s}
.resana_slider{position:absolute;top:0;bottom:5%;right:0;left:0;transition:bottom 0s 1s}
.resana_slider>article{position:absolute;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;top:0;bottom:0;right:0;left:0;margin:auto;width:40vh;height:55vh;cursor:pointer;transition-property:-webkit-transform,left,top;transition-property:transform,left,top;transition-duration:0s;transition-delay:1s}
.resana_slider>article figure{-webkit-align-self:flex-start;-ms-flex-item-align:start;align-self:flex-start;width:35vh;height:35vh;margin:auto;border-radius:17.5vh;overflow:hidden!important;opacity:0;transition-property:-webkit-transform,opacity;transition-property:transform,opacity;transition-duration:0s;transition-delay:1s;transition-timing-function:ease,ease-in-out}
.resana_slider>article figure img{width:100.5%;border-radius:100%;vertical-align:middle;margin:0;height:auto;background-color:rgba(11,72,104,.1);transition:opacity 0s 1s,-webkit-filter 0s 1s,opacity 0s 1s,filter 0s 1s}
.resana_slider>article .info{opacity:0;height:13vh;-webkit-transform:translateY(75%) scale(1.3);-ms-transform:translateY(75%) scale(1.3);transform:translateY(75%) scale(1.3);transition:opacity 0s 1s,-webkit-transform 0s 1s;transition:opacity 0s 1s,transform 0s 1s}
.resana_slider>article .headings{margin:1.1vh -60px;text-align:center;white-space:nowrap;opacity:0;transition:opacity 0s 1s,color 0s 1s;font-family: "mitra"}
.resana_slider>article h3{font-size:2.7rem;font-family: "mitra-bold" !important;}
.resana_slider>article h4{font-size:1.5rem;letter-spacing:1px;color:#311b92}
.resana_slider>article h5{font-size:1.35rem;color:#555}
.resana_slider .slide_-2{z-index:2;-webkit-transform:scale(.4);-ms-transform:scale(.4);transform:scale(.4);left:-64%;top:3%}
.resana_slider .slide_-2 figure{-webkit-transform:scale(4) translate(-120%,0) rotateY(-180deg);transform:scale(4) translate(-120%,0) rotateY(-180deg);transition-delay:1.5s}
.resana_slider .slide_-1{z-index:3;-webkit-transform:scale(.7);-ms-transform:scale(.7);transform:scale(.7);left:-38%;top:1%}
.resana_slider .slide_-1 figure{-webkit-transform:scale(3) translate(-60%,0) rotateY(-180deg);transform:scale(3) translate(-60%,0) rotateY(-180deg);transition-delay:1.22s}
.resana_slider .slide_0{cursor:default;z-index:4;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.resana_slider .slide_0 figure{-webkit-transform:scale(2.2) translate(0,0) rotateY(-180deg);transform:scale(2.2) translate(0,0) rotateY(-180deg);transition-delay:.82s}
.resana_slider .slide_1{z-index:3;-webkit-transform:scale(.7);-ms-transform:scale(.7);transform:scale(.7);left:38%;top:1%}
.resana_slider .slide_1 figure{-webkit-transform:scale(3) translate(60%,0) rotateY(-180deg);transform:scale(3) translate(60%,0) rotateY(-180deg);transition-delay:1s}
.resana_slider .slide_2{z-index:2;-webkit-transform:scale(.4);-ms-transform:scale(.4);transform:scale(.4);left:64%;top:3%}
.resana_slider .slide_2 figure{-webkit-transform:scale(4) translate(120%,0) rotateY(-180deg);transform:scale(4) translate(120%,0) rotateY(-180deg);transition-delay:1.38s}
.resana_slider .slide_x{z-index:1;-webkit-transform:scale(.4);-ms-transform:scale(.4);transform:scale(.4);top:3%}
.resana_slider .slide_x figure{opacity:0}
.resana_slider .slider_nav{position:absolute;bottom:15%;right:0;left:0;margin:0 auto;width:72%;opacity:0;z-index:6;transition:opacity 0s 1s}
.resana_slider .slider_nav .backward,.resana_slider .slider_nav .forward{height:6.3vh;padding:1vh 2vh;background-color:rgba(0,65,116,0);cursor:pointer;transition:background-color .3s}
.resana_slider .slider_nav .backward svg,.resana_slider .slider_nav .forward svg{width:2.8vh;height:6.3vh;stroke:rgba(0,65,116,.6);stroke-width:.2rem;transition:stroke .2s}
.resana_slider .slider_nav .backward:hover,.resana_slider .slider_nav .forward:hover{background-color:rgba(0,65,116,.06)}
.resana_slider .slider_nav .backward:hover svg,.resana_slider .slider_nav .forward:hover svg{stroke:#004174}
.resana_slider .slider_nav .backward{float:left}
.resana_slider .slider_nav .forward{float:right}
.team_wrapper{position:absolute;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;top:80%;bottom:0;right:0;left:0;margin:0 auto;height:14vh;opacity:0;background-color:rgba(157,178,192,.16);transition-property:opacity,top;transition-timing-function:ease-in-out;transition-duration:0s,0s;transition-delay:1s,1s}
.team_wrapper .p3_paragraph{position:relative;width:69%;margin-left:16%;text-align:right}
.team_wrapper .p3_paragraph h3{margin:.7rem 0;color:#000}
.team_wrapper .p3_paragraph p{margin:.4rem 0;font-size:1.3rem;line-height:140%;color:#311b92}
.team_wrapper .p3_paragraph p strong{}
.viewing_3.fixed h2.p3_title{opacity:0;-webkit-transform:scale(.42);-ms-transform:scale(.42);transform:scale(.42);transition:opacity .66s .5s,-webkit-transform 1.4s .5s;transition:opacity .66s .5s,transform 1.4s .5s}
.viewing_3.fixed .resana_slider{bottom:28%;transition:bottom .62s ease-in-out 2.2s}
.viewing_3.fixed .resana_slider>article{transition-delay:0s;transition-duration:.75s}
.viewing_3.fixed .resana_slider>article figure{opacity:1;-webkit-transform:scale(1) translate(0,0) rotateY(0deg);transform:scale(1) translate(0,0) rotateY(0deg);transition-duration:1.1s}
.viewing_3.fixed .resana_slider>article figure img{transition:opacity .45s,-webkit-filter .7s 0s,opacity .45s,filter .7s 0s}
.viewing_3.fixed .resana_slider>article .info{opacity:1;-webkit-transform:translateY(0) scale(1);-ms-transform:translateY(0) scale(1);transform:translateY(0) scale(1);transition:opacity 1s 2s,-webkit-transform .7s 1.8s;transition:opacity 1s 2s,transform .7s 1.8s}
.viewing_3.fixed .resana_slider>article .headings{transition:opacity .6s ease-in-out,color .7s ease-in-out}
.viewing_3.fixed .resana_slider>article:hover figure img{opacity:1}
.viewing_3.fixed .resana_slider>article:hover h3{opacity:.6}
.viewing_3.fixed .resana_slider .slide_x figure img{opacity:0;-webkit-filter:grayscale(.4);filter:grayscale(.4)}
.viewing_3.fixed .resana_slider .slide_-2 figure img,.viewing_3.fixed .resana_slider .slide_2 figure img{opacity:.3;-webkit-filter:grayscale(.4);filter:grayscale(.4)}
.viewing_3.fixed .resana_slider .slide_-1 figure img,.viewing_3.fixed .resana_slider .slide_1 figure img{opacity:.74;-webkit-filter:grayscale(.2);filter:grayscale(.2)}
.viewing_3.fixed .resana_slider .slide_0 figure img{opacity:1;-webkit-filter:grayscale(0);filter:grayscale(0)}
.viewing_3.fixed .resana_slider .slide_0 .headings{opacity:1}
.viewing_3.fixed .resana_slider .slide_0 h4{color:#311b92}
.viewing_3.fixed .resana_slider .slider_nav{opacity:1;transition-duration:1s;transition-delay:2.25s}
.viewing_3.fixed .team_wrapper{top:69%;opacity:1;transition-duration:.7s,.65s;transition-delay:2.3s,2.19s}
.viewing_4.fixed #p4_wrapper>h2{opacity:0;-webkit-transform:scale(.4);-ms-transform:scale(.4);transform:scale(.4);transition:opacity 1.1s .5s,-webkit-transform 1.55s .5s;transition:opacity 1.1s .5s,transform 1.55s .5s}
.viewing_4.fixed #p4_wrapper .page_intro_wrapper{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);transition:-webkit-transform 1s ease .7s;transition:transform 1s ease .7s}
.viewing_4.fixed #p4_wrapper .p4_sides{opacity:1}
.viewing_4.fixed #p4_wrapper .p4_sides .triangle_wrapper{-webkit-transform:rotateZ(0deg);transform:rotateZ(0deg);transition:-webkit-transform 1.2s ease .48s;transition:transform 1.2s ease .48s}
.page_5 .mol_5{position:absolute;width:132vmin;height:40vmin;top:0;right:18%;opacity:0;background-size:cover;background-position:center bottom;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);transition-property:opacity,right;transition-duration:.52s;transition-delay:1.3s;z-index:0;-webkit-backface-visibility:hidden}
.p5_main{position:absolute;margin:auto;top:0;bottom:0;right:0;left:0}
.p5_main h2{position:absolute;margin:auto -17.5rem auto 0;text-align:right;bottom:2%;top:0;right:50%;width:34.6rem;height:4rem;white-space:nowrap;font-size:3.2rem;text-transform:uppercase;transition-property:right,margin-right,bottom;transition-duration:.8s,.8s,.7s;transition-delay:1s,1s,1s}
.p5_main .line_wrapper{position:absolute;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:22%;left:0;right:0;bottom:4%;top:0;margin:auto 0;opacity:0;background-color:rgba(255,255,255,.5);transition:opacity 1.2s ease-in-out .8s}
.p5_main .line_wrapper p.p5_paragraph{position:relative;width:43%;margin:auto 14% auto auto;direction:rtl;text-align:justify;font-size:1.8rem;line-height: 43.5px;color:#444;-webkit-transform:translateX(-40%);-ms-transform:translateX(-40%);transform:translateX(-40%);transition:-webkit-transform .8s 1s;transition:transform .8s 1s}
.p5_main .line_wrapper p.p5_paragraph:after{content:".";float:right}
.p5_main .line_wrapper p.p5_paragraph span{}
.p5_main .ball_wapper .balls{position:absolute;top:25%;right:30%;left:0;bottom:0;margin:auto;width:26vmin;height:26vmin;opacity:0;border-radius:100%;z-index:0;transition-property:-webkit-transform,opacity,z-index,right,top;transition-property:transform,opacity,z-index,right,top;transition-duration:0s,0s,0s,.24s,.24s;transition-delay:1s,1s,0s,0s,0s;transition-timing-function:ease,ease,linear,linear,linear}
.p5_main .ball_wapper .balls .ball_cover{position:absolute;display:-webkit-flex;display:-ms-flexbox;display:flex;right:0;left:0;bottom:0;top:0;z-index:-1;border-radius:100%;overflow:hidden;cursor:pointer;transition-property:-webkit-transform;transition-property:transform;transition-duration:.27s;transition-delay:0}
.p5_main .ball_wapper .balls .ball_cover>h4{margin:0;-webkit-align-self:center;-ms-flex-item-align:center;align-self:center;width:100%;text-align:center;font-size:3.4vmin;line-height:120%;opacity:.75;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);transition-property:-webkit-transform,opacity;transition-property:transform,opacity;transition-duration:0s,.5s;transition-delay:0s,.1s}
.p5_main .ball_wapper .balls .ball_cover>i{position:absolute;left:2%;bottom:-24%;font-size:24vmin;opacity:.1;z-index:-1;-webkit-transform:translate(0,0) scale(1);-ms-transform:translate(0,0) scale(1);transform:translate(0,0) scale(1);font-style:normal;transition-property:-webkit-transform,opacity;transition-property:transform,opacity;transition-duration:.35s}
.p5_main .ball_wapper .ball_1{-webkit-transform:translate(-320%,0) scale(1.05);-ms-transform:translate(-320%,0) scale(1.05);transform:translate(-320%,0) scale(1.05)}
.p5_main .ball_wapper .ball_1 .ball_cover{background-color:#c0b3ff;color:#fff}
.p5_main .ball_wapper .ball_1 .ball_cover>h4{font-size:2.8vmin}
.p5_main .ball_wapper .ball_4{-webkit-transform:translate(-320%,0) scale(1.05);-ms-transform:translate(-320%,0) scale(1.05);transform:translate(-320%,0) scale(1.05)}
.p5_main .ball_wapper .ball_4 .ball_cover{background-color:#c0b3ff;color:#fff}
.p5_main .ball_wapper .ball_4 .ball_cover>h4{font-size:2.8vmin}
.p5_main .ball_wapper .ball_2{-webkit-transform:translate(-300%,0) scale(.85);-ms-transform:translate(-300%,0) scale(.85);transform:translate(-300%,0) scale(.85)}
.p5_main .ball_wapper .ball_2 .ball_cover{background-color:#d5ccff;color:#311b92}
.p5_main .ball_wapper .ball_3{-webkit-transform:translate(-300%,0) scale(.58);-ms-transform:translate(-300%,0) scale(.58);transform:translate(-300%,0) scale(.58)}
.p5_main .ball_wapper .ball_3 .ball_cover{background-color:#d8d1fb;color:#311b92}
.p5_main .ball_wapper .ball_4{-webkit-transform:translate(-285%,-10%) scale(.7);-ms-transform:translate(-285%,-10%) scale(.7);transform:translate(-285%,-10%) scale(.7)}
.p5_main .ball_wapper .ball_4 .ball_cover{background-color:#d3d3d3;color:#000}
.p5_main .ball_wapper .balls_article{position:absolute;visibility:hidden;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;left:22%;right:20%;bottom:0;top:4%;height:60%;margin:auto 0;color:#000;opacity:0;z-index:6;direction: rtl; -webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-transform:scale(.7);-ms-transform:scale(.7);transform:scale(.7);-webkit-transform-origin:5% 75%;-ms-transform-origin:5% 75%;transform-origin:5% 75%;transition-property:-webkit-transform,opacity,visibility;transition-property:transform,opacity,visibility;transition-duration:.2s,.16s,0s;transition-delay:0s,0s,.2s}
.p5_main .ball_wapper .balls_article.active{visibility:visible;opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);transition-duration:.8s,1s,0s;transition-delay:.1s,.2s,0s}
.p5_main .ball_wapper .balls_article h3,.p5_main .ball_wapper .balls_article h5,.p5_main .ball_wapper .balls_article p{box-sizing:border-box}
.p5_main .ball_wapper .balls_article h3{margin:3.5vh 0;font-size:6.8rem;opacity:1;}
.p5_main .ball_wapper .balls_article h5{margin:6.5vh 0;padding:0 1rem;font-size:2.1rem;opacity:.9;text-align:right}
.p5_main .ball_wapper .balls_article p{opacity:.8;margin:0;font-size:1.5rem;line-height:155%}
.p5_main .ball_wapper .balls_article .balls_close_icon{position:absolute;top:-4vh;left:0;margin:0;width:7vh;height:7vh;opacity:1;cursor:pointer;z-index:9;background-color:rgba(255,255,255,.06);transition:opacity .3s ease}
.p5_main .ball_wapper .balls_article .balls_close_icon::after,.p5_main .ball_wapper .balls_article .balls_close_icon::before{content:"";position:absolute;width:100%;height:1px;background-color:#fff;top:50%;-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center;right:0;margin-left:-6.5vh;transition:-webkit-transform .35s;transition:transform .35s}
.p5_main .ball_wapper .balls_article .balls_close_icon::before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.p5_main .ball_wapper .balls_article .balls_close_icon::after,.p5_main .ball_wapper .balls_article .balls_close_icon:hover::before{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.p5_main .ball_wapper .balls_article .balls_close_icon:hover::after{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.p5_main .ball_wapper .balls_article.b3_article,.p5_main .ball_wapper .balls_article.b4_article{color:#000}
.p5_main .ball_wapper .balls_article.b3_article .balls_close_icon,.p5_main .ball_wapper .balls_article.b4_article .balls_close_icon{background-color:rgba(0,0,0,.06)}
.p5_main .ball_wapper .balls_article.b3_article .balls_close_icon::after,.p5_main .ball_wapper .balls_article.b3_article .balls_close_icon::before,.p5_main .ball_wapper .balls_article.b4_article .balls_close_icon::after,.p5_main .ball_wapper .balls_article.b4_article .balls_close_icon::before{background-color:#000}
.viewing_5.fixed .page_5 .mol_5{right:5%;opacity:1}
.viewing_5.fixed .p5_main h2{bottom:39%;right:14%;margin-right:0;transition-delay:1s,1s,.3s;color:#311B92;}
.viewing_5.fixed .p5_main .line_wrapper{opacity:1}
.viewing_5.fixed .p5_main .line_wrapper p.p5_paragraph{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
.viewing_5.fixed .ball_wapper .balls{z-index:1;opacity:1;transition-duration:.75s,.75s,0s,.08s,.08s;transition-delay:0s,0s,0s,0s,0s}
.viewing_5.fixed .ball_wapper .balls:hover{z-index:2;transition-delay:0s,0s,.07s,0s,0s}
.viewing_5.fixed .ball_wapper .balls:hover .ball_cover{-webkit-transform:scale(1.12);-ms-transform:scale(1.12);transform:scale(1.12)}
.viewing_5.fixed .ball_wapper .balls:hover .ball_cover>h4{opacity:1}
.viewing_5.fixed .ball_wapper .ball_1{-webkit-transform:translate(0,-5%) scale(1.03);-ms-transform:translate(0,-5%) scale(1.03);transform:translate(0,-5%) scale(1.03);transition-delay:1.7s,1.7s,.15s,0s,0s}
.viewing_5.fixed .ball_wapper .ball_2{-webkit-transform:translate(-85%,41%) scale(.85);-ms-transform:translate(-85%,41%) scale(.85);transform:translate(-85%,41%) scale(.85);transition-delay:1.5s,1.5s,.15s,0s,0s}
.viewing_5.fixed .ball_wapper .ball_3{-webkit-transform:translate(68%,35%) scale(.58);-ms-transform:translate(68%,35%) scale(.58);transform:translate(68%,35%) scale(.58);transition-delay:1.9s,1.9s,.15s,0s,0s}
.viewing_5.fixed .ball_wapper .ball_4{-webkit-transform:translate(-160%,-25%) scale(.7);-ms-transform:translate(-160%,-25%) scale(.7);transform:translate(-160%,-25%) scale(.7);transition-delay:2.18s,1.18s,.15s,0s,0s}
.viewing_5.fixed .ball_wapper .balls.selected{z-index:5}
.viewing_5.fixed .ball_wapper .balls.selected .ball_cover{transition-duration:.8s;cursor:default}
.viewing_5.fixed .ball_wapper .balls.selected .ball_cover>h4{opacity:0;-webkit-transform:translateY -200% scale(.8);-ms-transform:translateY -200% scale(.8);transform:translateY -200% scale(.8);transition-duration:.25s,.15s;transition-delay:0s}
.viewing_5.fixed .ball_wapper .balls.selected .ball_cover>i{-webkit-transform:translate(-13%,-13%) scale(.45);-ms-transform:translate(-13%,-13%) scale(.45);transform:translate(-13%,-13%) scale(.45);opacity:.2;transition-duration:.4s}
.viewing_5.fixed .ball_wapper .balls.selected.ball_1 .ball_cover{-webkit-transform:translate(112%,-40%) scale(9);-ms-transform:translate(112%,-40%) scale(9);transform:translate(112%,-40%) scale(9)}
.viewing_5.fixed .ball_wapper .balls.selected.ball_2 .ball_cover{-webkit-transform:translate(215%,-94%) scale(10.8);-ms-transform:translate(215%,-94%) scale(10.8);transform:translate(215%,-94%) scale(10.8)}
.viewing_5.fixed .ball_wapper .balls.selected.ball_3 .ball_cover{-webkit-transform:translate(50%,-140%) scale(16);-ms-transform:translate(50%,-140%) scale(16);transform:translate(50%,-140%) scale(16)}
.viewing_5.fixed .ball_wapper .balls.selected.ball_4 .ball_cover{-webkit-transform:translate(370%,-40%) scale(13);-ms-transform:translate(370%,-40%) scale(13);transform:translate(370%,-40%) scale(13)}
.p6_main{position:absolute;margin:auto;top:0;bottom:0;right:0;left:0}
.p6_main h2{position:absolute;margin:auto 0 auto -9rem;right:0;bottom:2%;top:0;left:50%;width:18rem;height:4rem;white-space:nowrap;font-size:3.4rem;text-transform:uppercase;transition-property:left,margin-left,bottom;transition-duration:.8s,.8s,.7s;transition-delay:1s,1s,1s}
.viewing_6.fixed .p6_main h2{bottom:48%;left:15%;margin-left:0;transition-delay:1s,1s,.3s}
.viewing_6.fixed .p6_main .line_wrapper{opacity:1}
.viewing_6.fixed .p6_main .line_wrapper p.p6_paragraph{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
.viewing_6.fixed .p6_main .chip{margin-right:.01vw;opacity:1}
.p7_main blockquote{position:absolute;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;top:100%;bottom:0;left:0;right:0;height:19%;padding-bottom:.5%;font-weight:300;font-size:2.6rem;line-height:162%;font-style:italic;text-align:center;background-color:rgba(227,229,234,.92);background-attachment:fixed;background-repeat:repeat-y;background-position:50% 636%;background-size:cover;margin:auto 0;overflow:hidden;opacity:0;transition:top 0s 1s,opacity 0s 1s}
.p7_main blockquote::before{content:"”";position:absolute;top:0;left:0;right:72rem;width:10rem;height:10rem;margin:0 auto;font-size:28rem;line-height:22rem;font-style:normal;color:rgba(0,0,0,.1)}
.p7_main #arrow_up{position:absolute;width:7vh;height:7vh;bottom:11.2%;right:.6%;left:0;margin:0 auto;z-index:1;border:1px solid #fff;border-radius:100%;cursor:pointer;opacity:0;background-color:rgba(0,65,116,.3);box-shadow:0 .4rem 1.1rem rgba(0,0,0,.32);-webkit-transform:translate(0,16vh);-ms-transform:translate(0,16vh);transform:translate(0,16vh);transition:opacity .8s .82s,-webkit-transform .78s .74s;transition:opacity .8s .82s,transform .78s .74s}
.p7_main #arrow_up::after,.p7_main #arrow_up::before{content:"";position:absolute;top:37%;width:76%;margin:auto;right:0;left:0;height:30%;background-size:contain;background-position:center;background-repeat:no-repeat}
.p7_main #arrow_up::before{-webkit-animation:arrowDownMain 1s ease infinite;animation:arrowDownMain 1s ease infinite}
.p7_main #arrow_up::after{-webkit-animation:arrowDownShadow 1s ease infinite;animation:arrowDownShadow 1s ease infinite}
.p7_main a.centurion_link{position:absolute;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;right:0;bottom:75%;top:0;left:92%;margin:auto;width:22rem;height:3.6rem;border-radius:4rem;opacity:0;background-color:rgba(227,229,234,.92);background-attachment:fixed;background-repeat:repeat-y;background-position:50% 636%;background-size:cover;font-size:1.5rem;font-size:1.4rem;font-weight:700;text-transform:uppercase;box-shadow:0 0 1.7rem rgba(0,0,0,.12);z-index:3;color:#0b4868;text-decoration:none;transition:left 0s 1s,opacity 0s 1s}
.p7_slide{position:absolute;margin:auto;bottom:-54vh;right:0;left:0;width:100vw;height:54vh;opacity:1;background-color:#f7f6ff;background-attachment:fixed;background-repeat:repeat-y;background-position:50% 636%;background-size:cover;z-index:3;transition:bottom 0s 1s}
.p7_slide .contact{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:44%;height:84%;direction:rtl;margin:0 auto;opacity:0;transition:opacity 0s 1s}
.p7_slide .contact h3{text-align:center;font-size:2.1rem;color:#311b92}
.p7_slide .contact .contact_response_wrapper{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;position:absolute;height:51%;width:75%;top:5%;left:0;right:0;margin:0 auto;overflow:hidden;opacity:0;z-index:1;-webkit-transform:translate3d(-120%,0,0);transform:translate3d(-120%,0,0);transition-property:-webkit-transform,opacity;transition-property:transform,opacity;transition-duration:.7s;transition-delay:0s}
.p7_slide .contact .contact_response_wrapper .contact_retry{position:absolute;width:27vh;padding:.6rem 0;height:1.7rem;left:0;right:40%;top:-20%;margin:auto;text-align:center;color:#fff;font-size:1.4rem;letter-spacing:.7rem;text-transform:uppercase;background-color:#0b4868;cursor:pointer;opacity:0;transition:opacity .5s,top .4s .4s}
.p7_slide .contact .contact_response_wrapper mark{font-size:1.45rem;background:0 0;text-align:center}
.p7_slide .contact .contact_response_wrapper mark em{display:block;text-align:center;font-style:normal;font-size:2.6rem;line-height:4.2rem}
.p7_slide .contact .contact_response_wrapper mark span{color:#555}
.p7_slide .contact .contact_response_wrapper mark.success{color:#118362}
.p7_slide .contact .contact_response_wrapper mark.error{color:#bb3b44}
.p7_slide .contact .form{transition-property:-webkit-transform,opacity;transition-property:transform,opacity;transition-duration:.7s;transition-delay:0s}
.p7_slide .contact .form input,.p7_slide .contact .form textarea{margin:.2vw 0;padding:0 .7rem;font-size:1.26rem;letter-spacing:.06rem}
.p7_slide .contact .form input{width:49.5%;height:3rem}
.p7_slide .contact .form input#name{float:right}
.p7_slide .contact .form input#email{float:left}
.p7_slide .contact .form textarea{width:100%;height:8rem;text-transform:none}
.p7_slide .contact .form button{margin:.21vw 0;float:right;font-size:1.35rem;}
.p7_slide .contact h5{color:#311b92!important;line-height:120%;font-size:1.4rem}
.p7_slide .contact h5.phone{margin-top:0}
.p7_slide .contact h6{font-weight:400;text-align:justify;font-size:1.28rem}
.p7_slide .contact h5,.p7_slide .contact h6{margin:.4vh 0;color:#311b92}
.p7_slide .contact.sent .form{opacity:0;-webkit-transform:translate3d(120%,0,0);transform:translate3d(120%,0,0)}
.p7_slide .contact.sent .contact_response_wrapper{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity:1}
.p7_slide .contact.back .contact_response_wrapper .contact_retry{opacity:1;top:5%}
.viewing_7.fixed .p7_main blockquote{top:30%;opacity:1;transition:top .8s cubic-bezier(.27,.12,.05,1) .5s,opacity .5s .6s}
.viewing_7.fixed .p7_main #arrow_up{opacity:.9;-webkit-transform:translateY(.001vh);-ms-transform:translateY(.001vh);transform:translateY(.001vh)}
.viewing_7.fixed .p7_main #arrow_up:hover{-webkit-transform:scale(1.03);-ms-transform:scale(1.03);transform:scale(1.03);transition:-webkit-transform .2s;transition:transform .2s}
.viewing_7.fixed .p7_main a.centurion_link{left:77%;opacity:1;transition:left .9s 1.1s,opacity .9s 1.12s}
.page_7.slideup .p7_main blockquote{opacity:0;top:-18%;transition:top 1.2s cubic-bezier(.27,.12,.05,1) 0s,opacity .6s cubic-bezier(.73,.04,.58,.96) 0s}
.page_7.slideup .p7_main .map_icon{left:6%}
.page_7.slideup .p7_slide{bottom:0vh;opacity:1;transition:bottom 1s cubic-bezier(.27,.12,.05,1) 0s}
.page_7.slideup .p7_slide .contact{opacity:1;transition:opacity 1.5s 0s}
.side_page-2{position:fixed;width:100%;height:100%;z-index:3;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);transition-property:-webkit-transform;transition-property:transform;transition-duration:1s;transition-timing-function:cubic-bezier(.75,0,.6,1);background-color:#f5f7f9;overflow:hidden}
.text--center {text-align: center;padding-top: 9px;}
.register_title h2 img {max-height: 128px;margin-top: 0px;}
.side_page .register_wrapper{position:absolute;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;width:100%;height:100%;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);transition-property:-webkit-transform;transition-property:transform;transition-duration:.7s;transition-delay:0s}
.side_page .register_wrapper .register_response_wrapper{position:absolute;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;top:0;bottom:4%;right:0;left:0;margin:auto;width:70%;height:60%;opacity:0;overflow:hidden;z-index:-1;-webkit-transform:translate3d(-80%,0,0);transform:translate3d(-80%,0,0);transition-property:-webkit-transform,opacity;transition-property:transform,opacity;transition-duration:.7s;transition-delay:0s}
.side_page .register_wrapper .register_response_wrapper .register_retry{position:absolute;width:28vh;padding:.8rem 0;height:1.8rem;left:0;right:0;top:80%;margin:auto;text-align:center;color:#fff;font-weight:900;font-size:1.5rem;letter-spacing:.7rem;text-transform:uppercase;background-color:#0b4868;cursor:pointer;bottom:-30%;opacity:0;transition:opacity .5s,bottom .4s .4s}
.side_page .register_wrapper .register_response_wrapper mark{font-size:1.45rem;background:0 0;text-align:center}
.side_page .register_wrapper .register_response_wrapper mark b{color:#0b4868;font-size:1.55rem;padding:1px .5rem;letter-spacing:1px;background-color:rgba(0,106,150,.1);border-radius:3px}
.side_page .register_wrapper .register_response_wrapper mark em{display:block;text-align:left;font-style:normal;font-size:3rem;line-height:5.5rem}
.side_page .register_wrapper .register_response_wrapper mark span{color:#666}
.side_page .register_wrapper .register_response_wrapper mark i{font-style:normal}
.side_page .register_wrapper .register_response_wrapper mark.success{color:#118362}
.side_page .register_wrapper .register_response_wrapper mark.error{color:#bb3b44}
.side_page .register_wrapper.sent{-webkit-transform:translate3d(55%,0,0);transform:translate3d(55%,0,0)}
.side_page .register_wrapper.sent .register_response_wrapper{opacity:1;-webkit-transform:translate3d(-80%,0,0);transform:translate3d(-80%,0,0)}
.side_page .register_wrapper.sent .register_body,.side_page .register_wrapper.sent .register_title{opacity:0}
.side_page .register_wrapper.back .register_response_wrapper .register_retry{opacity:1;bottom:0}
.side_page .register_body,.side_page .register_title{height:39%;opacity:1;transition-property:-webkit-transform,opacity;transition-property:transform,opacity;transition-duration:.9s,.4s;transition-delay:.15s,0s;transition-timing-function:cubic-bezier(.75,0,.6,1),ease}
.side_page .register_title{width:15%;-webkit-transform:translate3d(-400%,0,0);transform:translate3d(-400%,0,0)}
.side_page .register_title h3{float:left;margin:.5rem 0;padding:0 2rem;text-align:left;font-size:3rem;line-height:135%;color:#311B92}
.side_page .register_body{width:26%;padding:3%;direction:rtl;-webkit-transform:translate3d(-150%,0,0);transform:translate3d(-150%,0,0)}
.side_page .register_body input,.side_page .register_body select{margin:1.1rem 0;padding:.6rem .8rem;height:3.2rem;width:100%;font-size:1.35rem;}
.side_page .register_body input option,.side_page .register_body select option{border:none!important}
.side_page .register_body .student_phone_wrapper{width:100%;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.side_page .register_body .student_phone_wrapper select{-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-basis:9rem;-ms-flex-preferred-size:9rem;flex-basis:9rem;background-position:86% center}
.side_page .register_body .student_phone_wrapper input{-webkit-flex-grow:3;-ms-flex-positive:3;flex-grow:3;margin-left:1rem}
.side_page .register_body .form_select{background-size:contain;background-repeat:no-repeat;background-position:97% center;color:rgba(0,79,127,.6)}
.side_page .register_body .form_select:focus{color:#004f7f}
.side_page .register_body button{float:right;margin:1.3rem 0;padding:.85rem;width:43%;font-size:1.4rem;background-color:#311b92}
.viewing_left .side_page{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.viewing_left .side_page .register_title{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);transition-delay:.21s,0s}
.viewing_left .side_page .register_body{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.form input,.form select,.form textarea{border-image:none;border-radius:0;outline:0!important;box-shadow:none!important;background:none;background:#ece8ff;border:none;border-bottom:2px solid #311b92;box-sizing:border-box;font-weight:400;font-size:1.26rem;text-transform:uppercase;letter-spacing:.06rem;color:#311b92;-webkit-appearance:none;-moz-appearance:none;appearance:none;transition:border-color .55s,background-color .55s}
.newsletter {position: absolute;top: 100px;width: 378px;}
.newsletter p {color: #e5e2dd}
.newsletter input {border-image:none;border-radius:3px;outline:0!important;box-shadow:none!important;background:none;border:1px solid #311b92;box-sizing:border-box;font-size:1.26rem;color:#311b92;-webkit-appearance:none;-moz-appearance:none;appearance:none;transition:border-color .55s,background-color .55s;padding: 10px;width: 77%;}
.form input:focus:valid,.form select:focus:valid,.form textarea:focus:valid{border-color:#009454;background-color:rgba(41,107,79,.08)}
.form input:focus:invalid,.form select:focus:invalid,.form textarea:focus:invalid{border-color:#d73764;background-color:rgba(155,115,126,.09)}
.form button{border:none;background-color:#311b92;color:#fff;font-size:1.35rem;border-radius: 3px;padding: 10px 20px}
.newsletter button{border:1px #311b92 solid;color:#311b92;font-size:1.35rem;border-radius: 3px;padding: 10px 23px 10px 24px;margin-right: 9px;position: relative;}
input::-webkit-input-placeholder{color:#004f7f}
textarea::-webkit-input-placeholder{color:#004f7f}
input::-moz-placeholder{color:#004f7f}
textarea::-moz-placeholder{color:#004f7f}
input:-ms-input-placeholder{color:#004f7f}
textarea:-ms-input-placeholder{color:#004f7f}
@media (min-width:2000px){html{font-size:13px}
}
@media (min-width:1650px) and (max-width:1999px){html{font-size:12px}
}
@media (min-width:1200px) and (max-width:1649px){#p4_wrapper .p4_sides.deselected.side_right.deselected_to_top .p4_triangles{-webkit-transform:translate3d(-300%,-150%,0) scale(.6);transform:translate3d(-300%,-150%,0) scale(.6)}
#p4_wrapper .p4_sides.deselected.side_right.deselected_to_top .p4_triangles svg.triangle{-webkit-transform:scale(.85) rotateZ(90deg);transform:scale(.85) rotateZ(90deg)}
#p4_wrapper .p4_sides.deselected.side_left.deselected_to_top .p4_triangles{-webkit-transform:translate3d(300%,-150%,0) scale(.6);transform:translate3d(300%,-150%,0) scale(.6)}
#p4_wrapper .p4_sides.deselected.side_left.deselected_to_top .p4_triangles svg.triangle{-webkit-transform:scale(.88) rotateZ(30deg);transform:scale(.88) rotateZ(30deg)}
}
@media (max-width:1199px){html{font-size:9px}
#p4_wrapper .p4_sides ul .diamonds{width:15vw;height:15vw}
#p4_wrapper .p4_sides.selected ul .dim_4{-webkit-transform:translate(-160%,-12%) scale(.68);-ms-transform:translate(-160%,-12%) scale(.68);transform:translate(-160%,-12%) scale(.68)}
#p4_wrapper .p4_sides.selected ul .dim_3{-webkit-transform:translate(-108%,40%) scale(.44);-ms-transform:translate(-108%,40%) scale(.44);transform:translate(-108%,40%) scale(.44)}
-webkit-transform:translate(0%, 74%) scale(0.63);-ms-transform:translate(0%, 74%) scale(.63);transform:translate(0%, 74%) scale(.63);
}
@media (max-width:1024px){html{font-size:9px}
#main_menu,.viewing_1 #main_menu{height:12vh}
.viewing_2 #main_menu figure,.viewing_3 #main_menu figure,.viewing_4 #main_menu figure,.viewing_5 #main_menu figure,.viewing_6 #main_menu figure,.viewing_7 #main_menu figure {display: none;}
.viewing_1 #main_menu .menu_icon{display: none !important;}
#main_menu .menu_icon, .viewing_1 #main_menu .menu_icon{position: absolute;display: block;width: 100%;height: 11vh;left: 0px;bottom: 0px;cursor: pointer;z-index: 2;}
#main_menu .menu_icon .close_line,#main_menu .menu_icon::after,#main_menu .menu_icon::before,.viewing_1 #main_menu .menu_icon .close_line,.viewing_1 #main_menu .menu_icon::after,.viewing_1 #main_menu .menu_icon::before{position:absolute;width:12vw;height:3px;left:70%;right:0;top:0;bottom:14%;margin:auto;background-color:#311b92;border-radius:.5vw;transition:-webkit-transform .6s,opacity .6s,top .6s,background-color .6s;transition:transform .6s,opacity .6s,top .6s,background-color .6s}
#main_menu .menu_icon::after,.viewing_1 #main_menu .menu_icon::after{content:"";-webkit-transform:translateY(1.6rem);-ms-transform:translateY(1.6rem);transform:translateY(1.6rem)}
#main_menu .menu_icon::before,.viewing_1 #main_menu .menu_icon::before{content:"";-webkit-transform:translateY(-1.6rem);-ms-transform:translateY(-1.6rem);transform:translateY(-1.6rem)}
#main_menu blockquote,.viewing_1 #main_menu blockquote{display:none}
#main_menu figure,.viewing_1 #main_menu figure{height:12.6vh;-webkit-transform:translate(0%,0%) scale(.61);-ms-transform:translate(0%,0%) scale(.61);transform:translate(0%,0%) scale(.61)}
#main_menu ul,.viewing_1 #main_menu ul{;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;position: fixed; width:80vw;top:0;right:0;height:100%;padding:25% 0 26%;box-sizing:border-box;background-color:#c1b3fb;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);transition:-webkit-transform .7s;transition:transform .7s}
#main_menu ul .nav_li_side,#main_menu ul li,.viewing_1 #main_menu ul .nav_li_side,.viewing_1 #main_menu ul li{position:static;width:auto;right:0}
#main_menu ul .nav_li_side a,#main_menu ul li a,.viewing_1 #main_menu ul .nav_li_side a,.viewing_1 #main_menu ul li a{right:0;min-height:8vh;height:100%;font-style:normal;font-size:2.6vh;color:#fff!important;-webkit-transform:skew(0deg,0deg);-ms-transform:skew(0deg,0deg);transform:skew(0deg,0deg)}
#main_menu ul .nav_li_side a::after,#main_menu ul .nav_li_side a::before,#main_menu ul li a::after,#main_menu ul li a::before,.viewing_1 #main_menu ul .nav_li_side a::after,.viewing_1 #main_menu ul .nav_li_side a::before,.viewing_1 #main_menu ul li a::after,.viewing_1 #main_menu ul li a::before{content:"";height:100%;width:100%;top:0;border-radius:0;background-color:rgba(255,255,255,.07)}
#main_menu ul .nav_li_side a.on::after,#main_menu ul .nav_li_side a:hover::after,#main_menu ul .nav_li_side a:hover::before,#main_menu ul li a.on::after,#main_menu ul li a:hover::after,#main_menu ul li a:hover::before,.viewing_1 #main_menu ul .nav_li_side a.on::after,.viewing_1 #main_menu ul .nav_li_side a:hover::after,.viewing_1 #main_menu ul .nav_li_side a:hover::before,.viewing_1 #main_menu ul li a.on::after,.viewing_1 #main_menu ul li a:hover::after,.viewing_1 #main_menu ul li a:hover::before{background-color:rgba(255,255,255,.07)}
#main_menu.maxed{height:100%}
#main_menu.maxed .menu_icon .close_icon,#main_menu.maxed .menu_icon::after,#main_menu.maxed .menu_icon::before{background-color:#fff}
#main_menu.maxed .menu_icon .close_line{opacity:0}
#main_menu.maxed .menu_icon::after{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
#main_menu.maxed .menu_icon::before{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
#main_menu.maxed ul{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.viewing_1 #main_menu figure{-webkit-transform:translate(0%,0%) scale(1);-ms-transform:translate(0%,0%) scale(1);transform:translate(0%,0%) scale(1)}
#main_menu .button-main{right: 50px;position: absolute;width: 100%;top:-30%;margin-top: -250px;}
#main_menu .sub_links {top: 80px;}
.page_6 h2,.page_4 h2{font-size: 32px;margin-right: -175px;}
.all_sub{right: 3%;}
.register_title h2 img {position: relative;left: 50%;margin-left: -215px;}
.newsletter {right: 3%;}

}
@media (max-width:1024px) and (orientation:landscape){#main_menu,.viewing_1 #main_menu{height:11vh}
#main_menu .menu_icon .close_line,#main_menu .menu_icon::after,#main_menu .menu_icon::before,.viewing_1 #main_menu .menu_icon .close_line,.viewing_1 #main_menu .menu_icon::after,.viewing_1 #main_menu .menu_icon::before{width:6.5rem;left:75%}
.p2_main .line_wrapper{height:32%}
.p2_main .line_wrapper p.p2_paragraph{width:52%;text-align:justify;line-height:3vh}
.p2_main .chip{right:14%}
.p5_main .line_wrapper{height:25%}
.viewing_5.fixed .ball_wapper .ball_2{-webkit-transform:translate(-82%,34%) scale(.85);-ms-transform:translate(-82%,34%) scale(.85);transform:translate(-82%,34%) scale(.85)}
.viewing_5.fixed .ball_wapper .ball_3{-webkit-transform:translate(68%,32%) scale(.59);-ms-transform:translate(68%,32%) scale(.59);transform:translate(68%,32%) scale(.59)}
.viewing_5.fixed .ball_wapper .ball_4{-webkit-transform:translate(-140%,-25%) scale(.69);-ms-transform:translate(-140%,-25%) scale(.69);transform:translate(-140%,-25%) scale(.69)}
.p6_main .line_wrapper{height:34%}
.p6_main .line_wrapper p.p6_paragraph{line-height:3.2vh;font-size:1.4rem}
.p2_main h2 img {max-height: 9vh !important}
}
@media (max-width:979px){
.viewing_2 #ic_logo ,.viewing_3 #ic_logo,.viewing_4 #ic_logo,.viewing_5 #ic_logo,.viewing_6 #ic_logo,.viewing_7 #ic_logo{display: none;}
.viewing_1 .main_nav{display: block;}
.p2_main .line_wrapper{bottom:5%;height:40%;background-color:rgba(255,255,255,.6)}
.p2_main .line_wrapper p.p2_paragraph{width:78%;margin-left:11%;text-align:justify;line-height:2.8vh}
.p2_main .chip{top:73%;right:11%;width:36vw}
.p2_main .chip.bot{top:73%;right:53%}
.p2_main .chip .name{font-weight:500;font-size:2.4vh}
.p2_main .chip .pg2_close_icon{top:4%;right:9%}
.p2_main .chip .content{width:80%;margin:11.5vh auto 0 10%}
.p2_main .chip .content p{margin:0;line-height:2.9vh}
.p2_main .chip.selected{top:27vh;height:42%;right:0}
.p2_main .chip.selected .name{top:3%;bottom:70%;left:10%}
.viewing_2.fixed .p2_main h2{bottom:58%;left:11%}
.resana_slider>article figure{width:34vh;height:34vh}
.resana_slider .slider_nav{width:90%;bottom:8.5%}
.team_wrapper{height:20.5vh}
.team_wrapper .p3_paragraph{position:relative;width:80%;margin-left:10%}
.team_wrapper .p3_paragraph h3{margin:.5rem 0;font-size:1.32rem}
.team_wrapper .p3_paragraph p{line-height:100%;line-height:2.05vh;text-align:justify}
.viewing_3.fixed .resana_slider{bottom:35%}
.viewing_3.fixed .resana_slider>article:hover h3{opacity:0}
.viewing_3.fixed .resana_slider .slide_-2 figure img,.viewing_3.fixed .resana_slider .slide_2 figure img,.viewing_3.fixed .resana_slider .slide_x figure img{opacity:0;-webkit-filter:grayscale(1);filter:grayscale(1)}
.viewing_3.fixed .resana_slider .slide_-1 figure img,.viewing_3.fixed .resana_slider .slide_1 figure img{opacity:.25;-webkit-filter:grayscale(1);filter:grayscale(1)}
.viewing_3.fixed .team_wrapper{top:65%}
#p4_wrapper>h2{font-size:3.4rem}
#p4_wrapper .p4_sides .p4_triangles{padding:3.2vh}
#p4_wrapper .p4_sides .p4_triangles h3{font-size:3.4vw;line-height:3.4vw;height:3.3vw}
#p4_wrapper .p4_sides .p4_triangles h6{display:none}
#p4_wrapper .p4_sides .p4_triangles:hover h3{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
#p4_wrapper .p4_sides .p4_triangles:hover h6{opacity:0;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
#p4_wrapper .p4_sides article{position:absolute;top:64%;bottom:14%;width:83vw;left:1%;right:0;margin:auto}
#p4_wrapper .p4_sides article p{line-height:2.45vh}
#p4_wrapper .p4_sides ul .diamonds{width:23vh;height:23vh}
#p4_wrapper .p4_sides.selected{width:100%}
#p4_wrapper .p4_sides.selected .p4_triangles h3,#p4_wrapper .p4_sides.selected .p4_triangles h6,#p4_wrapper .p4_sides.selected .p4_triangles:hover h3,#p4_wrapper .p4_sides.selected .p4_triangles:hover h6{color:rgba(29,39,58,0)}
#p4_wrapper .p4_sides.selected ul .dim_1{-webkit-transform:translate(22%,-10%) scale(1);-ms-transform:translate(22%,-10%) scale(1);transform:translate(22%,-10%) scale(1)}
#p4_wrapper .p4_sides.selected ul .dim_2{-webkit-transform:translate(68%,44%) scale(.6);-ms-transform:translate(68%,44%) scale(.6);transform:translate(68%,44%) scale(.6)}
#p4_wrapper .p4_sides.selected ul .dim_3{-webkit-transform:translate(-58%,47%) scale(.46);-ms-transform:translate(-58%,47%) scale(.46);transform:translate(-58%,47%) scale(.46)}
#p4_wrapper .p4_sides.selected ul .dim_4{-webkit-transform:translate(-70%,-45%) scale(.65);-ms-transform:translate(-70%,-45%) scale(.65);transform:translate(-70%,-45%) scale(.65)}
#p4_wrapper .p4_sides.selected ul .dim_5{-webkit-transform:translate(67%,-79%) scale(.36);-ms-transform:translate(67%,-79%) scale(.36);transform:translate(67%,-79%) scale(.36)}
#p4_wrapper .side_bottom,#p4_wrapper .side_bottom.idled,#p4_wrapper .side_bottom.idled_to_right{top:0;height:100%}
#p4_wrapper .side_bottom .p4_triangles,#p4_wrapper .side_bottom.idled .p4_triangles,#p4_wrapper .side_bottom.idled_to_right .p4_triangles{-webkit-transform:translate3d(25%,-344%,0);transform:translate3d(25%,-344%,0)}
#p4_wrapper .side_bottom .p4_triangles h3,#p4_wrapper .side_bottom.idled .p4_triangles h3,#p4_wrapper .side_bottom.idled_to_right .p4_triangles h3{font-size:4.4vw}
#p4_wrapper .side_bottom ul .diamonds,#p4_wrapper .side_bottom.idled ul .diamonds,#p4_wrapper .side_bottom.idled_to_right ul .diamonds{left:2%}
#p4_wrapper .side_right .p4_triangles,#p4_wrapper .side_right.idled .p4_triangles{-webkit-transform:translate3d(-180%,-125%,0);transform:translate3d(-180%,-125%,0)}
#p4_wrapper .side_right .back_bottom,#p4_wrapper .side_right.idled .back_bottom{left:7.5%}
#p4_wrapper .side_right ul .diamonds,#p4_wrapper .side_right.idled ul .diamonds{left:2%}
#p4_wrapper .side_left .p4_triangles,#p4_wrapper .side_left.idled .p4_triangles{-webkit-transform:translate3d(165%,-10%,0);transform:translate3d(165%,-10%,0)}
#p4_wrapper .side_left .back_bottom,#p4_wrapper .side_left.idled .back_bottom{right:7.5%}
.page_5 .mol_5{width:96vmin;height:64vmin;top:-9%;left:-10%;transition-property:opacity,left}
.p5_main .line_wrapper{bottom:18%;height:25%;background-color:rgba(255,255,255,.6)}
.p5_main .line_wrapper p.p5_paragraph{width:78%;left:0;right:0;margin-right:11%;text-align:justify;line-height:2.6vh}
.p5_main .ball_wapper .balls{top:36%;right:0;left:25%;width:32vmin;height:32vmin}
.p5_main .ball_wapper .balls .ball_cover>h4{font-size:4.6vmin;line-height:116%}
.p5_main .ball_wapper .ball_1 .ball_cover>h4{font-size:4vmin}
.p5_main .ball_wapper .balls_article{left:10%;right:9%;bottom:4%;top:0;height:76%;-webkit-transform-origin:50% 75%;-ms-transform-origin:50% 75%;transform-origin:50% 75%}
.p5_main .ball_wapper .balls_article h3{margin:3.2vh 0;font-size:5rem;line-height:94%}
.p5_main .ball_wapper .balls_article h5{margin:2.5vh 0;padding:0 .8rem;font-size:2rem}
.p5_main .ball_wapper .balls_article p{font-size:1.4rem;line-height:2.7vh}
.viewing_5.fixed .page_5 .mol_5{left:0}
.viewing_5.fixed .p5_main h2{bottom:56%;right:11%}
.viewing_5.fixed .ball_wapper .ball_1{-webkit-transform:translate(0,-5%) scale(1.05);-ms-transform:translate(0,-5%) scale(1.05);transform:translate(0,-5%) scale(1.05)}
.viewing_5.fixed .ball_wapper .ball_2{-webkit-transform:translate(-82%,34%) scale(.85);-ms-transform:translate(-82%,34%) scale(.85);transform:translate(-82%,34%) scale(.85)}
.viewing_5.fixed .ball_wapper .ball_3{-webkit-transform:translate(68%,32%) scale(.59);-ms-transform:translate(68%,32%) scale(.59);transform:translate(68%,32%) scale(.59)}
.viewing_5.fixed .ball_wapper .ball_4{-webkit-transform:translate(-140%,-33%) scale(.69);-ms-transform:translate(-140%,-33%) scale(.69);transform:translate(-140%,-33%) scale(.69)}
.viewing_5.fixed .ball_wapper .balls.selected.ball_1 .ball_cover{-webkit-transform:translate(-35%,-94%) scale(8.5);-ms-transform:translate(-35%,-94%) scale(8.5);transform:translate(-35%,-94%) scale(8.5)}
.viewing_5.fixed .ball_wapper .balls.selected.ball_2 .ball_cover{-webkit-transform:translate(52%,-167%) scale(9);-ms-transform:translate(52%,-167%) scale(9);transform:translate(52%,-167%) scale(9)}
.viewing_5.fixed .ball_wapper .balls.selected.ball_3 .ball_cover{-webkit-transform:translate(-185%,-234%) scale(12.5);-ms-transform:translate(-185%,-234%) scale(12.5);transform:translate(-185%,-234%) scale(12.5)}
.viewing_5.fixed .ball_wapper .balls.selected.ball_4 .ball_cover{-webkit-transform:translate(175%,-112%) scale(11);-ms-transform:translate(175%,-112%) scale(11);transform:translate(175%,-112%) scale(11)}
.viewing_6.fixed .p6_main h2{bottom:72%;left:11%}
.p7_main blockquote{font-size:1.65rem;height:16%;background-image:none}
.p7_main #arrow_up{bottom:14%}
.p7_main .google_map .map_icon{bottom:25%;left:-52%;padding-left:6.2vh;height:4vh;box-shadow:0 .2rem .5rem rgba(0,0,0,.15);box-shadow:0 .2rem .5rem transparent;width:21vh;background-color:rgba(11,72,104,.2);color:#0b4868;-webkit-animation:none;animation:none}
.p7_main .google_map .map_icon::before{top:-1.5vh;width:7.2vh}
.p7_main .google_map .map_icon::after{top:-1.5vh;width:7.3vh;height:7.3vh}
.p7_main a.centurion_link{background-image:none;box-shadow:0 .2rem .7rem rgba(0,0,0,.25)}
.p7_slide{background-image:none;bottom:-60vh;height:61%}
.p7_slide .contact{width:88%}
.p7_slide .contact .form button,.p7_slide .contact .form input,.p7_slide .contact .form textarea{margin:.27vh 0}
.viewing_7.fixed .p7_main a.centurion_link{left:50%}
.side_page .register_wrapper{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.side_page .register_body,.side_page .register_title{width:78%}
.side_page .register_title{height:14%}
.side_page .register_title h3{text-align:left;padding:0;float:left}
.side_page .register_body{height:49%}
.side_page .register_body button,.side_page .register_body input,.side_page .register_body select{margin:1.2vh 0;height:4.5vh;min-height:3rem;font-size:1.4rem}
.side_page .register_body button{min-height:3.6rem}
.p2_main h2 img {max-height: 6vh !important;left: 50%;margin-left: -176px;}

}
@media (max-width:480px){html{font-size:7px;}
#main_menu figure, .viewing_1 #main_menu figure{-webkit-transform:translate(0%,0%) scale(1);-ms-transform:translate(0%,0%) scale(1);transform:translate(0%,0%) scale(1);width: 216px;right: 50%;margin-right: -108px;}
#main_menu span {font-size: 14px}
#main_menu li{float: right;}
#main_menu .sub_links{direction: rtl;text-align:center;margin: 8px 5px 0;padding: 10px 20px;border-radius: 3px;display:block;}
.all_sub{right: 50%;margin-right: -87px;}
.page_4 h2{font-size: 18px;margin-right: -105px;}
.page_6 h2 {font-size:18px;margin-left: -120px;}
#main_menu .button-main{right: 0px;}
.register_title h2 img {max-height: 90px;position: relative;left: 50%;margin-left: -151px;}
.newsletter{top: 115px;width:337px;right: 50%;margin-right: -167px;}
.resana ,.feature {display: none;}
.viewing_2 .newsletter,.viewing_3 .newsletter,.viewing_4 .newsletter,.viewing_5 .newsletter,.viewing_6 .newsletter,.viewing_7 .newsletter {display: none;}
}
@-webkit-keyframes arrowDownMain{0%,100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
32%,33%{-webkit-transform:translate3d(0,-30%,0);transform:translate3d(0,-30%,0)}
}
@keyframes arrowDownMain{0%,100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
32%,33%{-webkit-transform:translate3d(0,-30%,0);transform:translate3d(0,-30%,0)}
}
@-webkit-keyframes arrowDownShadow{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity:1}
32%{-webkit-transform:translate3d(0,58%,0);transform:translate3d(0,58%,0);opacity:0}
100%{-webkit-transform:translate3d(0,80%,0);transform:translate3d(0,80%,0);opacity:0}
}
@keyframes arrowDownShadow{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity:1}
32%{-webkit-transform:translate3d(0,58%,0);transform:translate3d(0,58%,0);opacity:0}
100%{-webkit-transform:translate3d(0,80%,0);transform:translate3d(0,80%,0);opacity:0}
}
@-webkit-keyframes mapIcon{0%,100%{-webkit-transform:scale(1);transform:scale(1)}
72%{-webkit-transform:scale(1.03);transform:scale(1.03)}
}
@keyframes mapIcon{0%,100%{-webkit-transform:scale(1);transform:scale(1)}
72%{-webkit-transform:scale(1.03);transform:scale(1.03)}
}
@-webkit-keyframes mapIconRipple{0%,100%,50%{opacity:0;-webkit-transform:scale(1.8);transform:scale(1.8)}
50.1%{-webkit-transform:scale(1);transform:scale(1)}
58%{opacity:.2}
}
@keyframes mapIconRipple{0%,100%,50%{opacity:0;-webkit-transform:scale(1.8);transform:scale(1.8)}
50.1%{-webkit-transform:scale(1);transform:scale(1)}
58%{opacity:.2}
}
@-webkit-keyframes spin{from{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes spin{from{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}


}
