/********** Import Vazir font **********/
@font-face {
    font-family: "Vazir";
    src: url('../fonts/Vazir.eot?v=2-beta-bugfix5');
    src: url('../fonts/Vazir.eot?v=2-beta-bugfix5#iefix') format('embedded-opentype'),
         url('../fonts/Vazir.woff?v=2-beta-bugfix5') format('woff'),
         url('../fonts/Vazir.ttf?v=2-beta-bugfix5') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Vazir";
    src: url('../fonts/Vazir-Bold.eot?v=2-beta-bugfix5');
    src: url('../fonts/Vazir-Bold.eot?v=2-beta-bugfix5#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Bold.woff?v=2-beta-bugfix5') format('woff'),
         url('../fonts/Vazir-Bold.ttf?v=2-beta-bugfix5') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: Vazir, tahoma;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Vazir, tahoma;
}

.small-box h3 a {
    color: #FFF;
}

.grid-view thead th{
    text-align: center;
}

.redactor-editor {
    font-family: Vazir, tahoma!important;
}

.text-md-size {
    font-size: 12px;
}

.sidebar-menu li>a>.fa-angle-left:before {
    content: '\f105';
}
.sidebar-menu li.active>a>.fa-angle-left {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sidebar-menu>li, .sidebar-menu>li.header{
    font-size: 14px;
}
.skin-purple .sidebar-menu>li.header {
    color: #5F7D8A;
}
.callout.callout-danger {
    border-color: #c23321!important;
}
#help-page p, #help-page li{
    font-size: 16px;
    line-height: 2;
}