/********** Import Vazir font **********/
@font-face {
    font-family: "Vazir";
    src: url('../fonts/Vazir.eot?v=2-beta-bugfix5');
    src: url('../fonts/Vazir.eot?v=2-beta-bugfix5#iefix') format('embedded-opentype'),
         url('../fonts/Vazir.woff?v=2-beta-bugfix5') format('woff'),
         url('../fonts/Vazir.ttf?v=2-beta-bugfix5') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Vazir";
    src: url('../fonts/Vazir-Bold.eot?v=2-beta-bugfix5');
    src: url('../fonts/Vazir-Bold.eot?v=2-beta-bugfix5#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Bold.woff?v=2-beta-bugfix5') format('woff'),
         url('../fonts/Vazir-Bold.ttf?v=2-beta-bugfix5') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: Vazir, tahoma;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Vazir, tahoma;
}

.small-box h3 a {
    color: #FFF;
}

.redactor-editor {
    font-family: Vazir, tahoma!important;
}

.text-md-size {
    font-size: 12px;
}

.sidebar-menu li>a>.fa-angle-left:before {
    content: '\f105';
}
.sidebar-menu li.active>a>.fa-angle-left {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sidebar-menu>li, .sidebar-menu>li.header{
    font-size: 14px;
}
.skin-purple .sidebar-menu>li.header {
    color: #5F7D8A;
}
.callout.callout-danger {
    border-color: #c23321!important;
}
#help-page p, #help-page li{
    font-size: 16px;
    line-height: 2;
}
.modal-dialog {
    color: #333;
}
.small-box h3 {
    cursor: pointer;
}
.form-loading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-color: rgba(0,0,0,.7);
}
.form-loading:before {
    font-size: 50px;
    content: "\f110";
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -35px;
    margin-top: -35px;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.datepicker-plot-area {
    z-index: 5;
}
.box-header .box-title a {
    color: #444;
}
.content-box {
    max-width: 1170px;
    margin: 0 auto;
}
.content-box .content {
    min-height:auto !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.new-button ul {
    padding-right:0;
    list-style:none;
    display: inline-flex;
    width: 100%;
    margin-bottom: 0;
}
.new-button li a {
    margin: 0 0 10px ! important;
    text-align: center;
    font-size: 16px;
    padding: 15px 0;
}
.new-button li a i {
    display: inline-flex !important;
    font-size: 22px !important;
    vertical-align: middle;
}
.new-button li a i p {
    display: inline-flex;
    vertical-align: middle;
    padding: 0 10px;
    font-size: 18px;
}
.project-index .project-box-title {
    padding: 0 0 20px 20px;
    display: inline-block;
    vertical-align: middle;
}
.project-index .project-box-title i {
    padding-left: 5px;
}
.project-index button i {
    padding-left: 5px;
}
.project-index .my-project-box .widget-user-username , .project-index .my-project-box .widget-user-desc {
    margin-right: 0 !important;
}
.content-header h1 {
    display: inline-block;
    padding: 0 0 0 20px;
    vertical-align: top;
}
.content-header a i {
    padding-left: 5px;
    vertical-align: middle;
}
.no-post,.no-post > h3 {
    text-align: center;
}
.no-post .fa-dashboard , .no-post .fa-newspaper-o {
    font-size: 128px;
    color: #c3c4c5;
}
.no-post button {
    margin-top: 15px;
}
.last-post {
    padding: 0;
}
.last-post ul {
    overflow: visible;
    margin: 0 0 10px 0!important;
}
.last-post ul li {
    background: transparent !important;
    border-right:0 !important;
    margin-left:0 !important;
    padding: 0 !important;
}
.last-post .no-post {
    background: #fff;
    text-align: center;
    padding: 30px 0;
    margin: 0;
}
.last-post .no-post i {
    font-size: 64px;
}
.route-dis li {
    background: transparent;
    border-right: 0 !important;
    padding:0 !important;
}
.route-dis li .info-box .hidden-action {
    padding:10px;
    position: absolute;
    left: 20px;
    background: #fff;
}
.route-dis li .info-box .hidden-action a {
    color: #dd4b39 !important;
}
.route-dis li .info-box .info-box-content .info-box-number {
    padding-bottom: 5px;
    overflow: hidden;
    height: 25px;
}
.route-dis li .info-box .info-box-content a {
    padding-left:10px;
    color:#444;
}
.route-dis li .info-box .info-box-content a i {
    padding-left:5px;
}
.tooltip {
    font-family: Vazir, tahoma;
}

/********** post list page **********/
.single-column-header{
    width: 977px !important;
}
.post-list-content .post-list-sort {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #605ca8;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.post-list-sort .date-sort {
    padding-left: 10px;
}
.post-list-content .todo-list li {
    border-radius: 0;
    padding: 0 !important;
    background: transparent;
    border: 0 !important;
    margin-left: 0 !important;
}
.post-list li .timeline-item {
    margin-left: 0 !important;
}
.post-list .timeline-item .timeline-body .visible-action {
    text-align: left;
    float: left;
    left: 10px;
    background: #fff;
    position: absolute;
}
.btn-bbg {
    vertical-align: middle;
    line-height: 1.8;
    padding: 0 10px !important;
    margin: 0 5px;
}
.btn-primary-bbg {
    border: 1px solid #0073b7 !important;
}
.btn-primary-bbg:hover {
    background-color: #0073b7 !important;
    color:#fff !important;
}
.btn-danger-bbg {
    border: 1px solid #dd4b39 !important;
}
.btn-danger-bbg:hover {
    background-color: #dd4b39 !important;
    color:#fff !important;
}
.post-list .timeline-item .timeline-body .visible-action a i {
    padding-left: 5px;
}
.post-list .timeline-item .post-route-dis {
    padding-right: 10px;
    color:#999999;
}
.post-list .timeline-item .post-route-dis i {
    padding-left: 5px;
}
.post-list .timeline-item .post-route-dis p {
    display: inline-block;
    padding: 3px 10px !important;
}
.bg-route-color{
    background: #f6f6f6;
}
.bg-route-color a{
    color: #7e7e7e;
}
.post-list li .status {
    font-size: 14px;
    position: absolute;
    text-align: center;
    top: 40px;
    right: 20px !important;
    background: #fff;
    width: 25px;
    height:25px;
    line-height: 25px;
}
.post-list .timeline-item .timeline-body p{
    padding: 5px 10px 0 10px;
}
.post-list .timeline-item .timeline-body .post-attachment {
    background: #f2fbff;
    color: #3c8dbc;
    margin-right:10px;
}
.post-list > li > .timeline-item > .timeline-footer {
    border-top: 1px solid rgb(244, 244, 244);
    padding: 5px 10px !important;
    text-align: left;
}
.post-list li > .timeline-item > .timeline-footer span {
    color: rgb(153, 153, 153);
    font-size: 12px;
    padding-left: 10px;
}
.post-list li > .timeline-item > .timeline-footer .time {
    padding-left: 0 !important;
}
.post-list li > .timeline-item > .timeline-footer .unsuccess-send ,.post-list li > .timeline-item > .timeline-footer .success-send  {
    font-size: 14px;
}
.post-list li > .timeline-item > .timeline-footer i {
    font-size: 16px;
}

.post-list .timeline-footer span i {
   padding-left: 5px;
}


.post-list .timeline-item .timeline-footer .visible-actions {
    text-align: right;
    right: 10px;
    background: #fff;
    position: absolute;
}
.post-list .timeline-item .timeline-footer .visible-actions a {
    vertical-align: middle;
    line-height: 1.8;
    padding: 0 5px !important;
}
.post-list .timeline-item .timeline-footer .visible-actions .edit {
    color: rgb(0, 115, 183) !important;
    border: 1px solid rgb(0, 115, 183) !important;
}
.post-list .timeline-item .timeline-footer .visible-actions .delete {
    color: rgb(221, 75, 57) !important;
    border: 1px solid rgb(221, 75, 57) !important;
}
.post-list .timeline-item .timeline-footer .visible-actions a i {
    padding-left: 5px;
}
.post-list-content .post-list-footer {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.post-list-content .post-list-footer .pagination {
    margin: 10px 0 7px 0;
}

/********** project creat modal **********/
.field-project-name label , .field-project-description label {
    font-size: 15px;
}
.field-project-name label i , .field-project-description label i {
    padding-left: 5px;
}


/********** User List page **********/

.user-box .box-body .list-group li p {
    text-align: center;
    margin: 0 10px !important;
}